<div *ngIf="content" class="margin-left_right_50">

  <!--<h1 class="text-center general-title">{{content.data.title}}</h1>-->

  <br>

  <div *ngFor="let team of content.data.teams" class="card">

    <div class="card-body">

      <div class="row d-flex justify-content-center">

        <div class="col-md-auto d-none d-sm-none d-md-block">
          <img src="assets/img/team2.png" class="img-team" alt="">
        </div>

        <div class="col-md-auto">
          <h5 class="card-title">{{team.name}}</h5>
          <h6 class="card-subtitle mb-2 text-muted">{{team.master}}</h6>
          <h6 class="card-subtitle mb-2 text-muted subtititle-grey">{{team.place}}</h6>
        </div>

      </div>

      <div class="mt-4">
        <p class="card-text text-justify" [innerHTML]="team.description"></p>
      </div>

    </div>

    <div class="card-footer">

      <div *ngIf="session" class="float-left mt-1">
        <button type="button" class="transparent btn btn-outline-primary btn-sm"><i class="far fa-edit"></i></button>
      </div>

      <!--<span class="footer-text">Universidad de León</span>-->
      <a class="btn btn-outline-primary float-right margin_left-15" href={{team.buttons[0].link}}>{{team.buttons[0].name}}</a>
    </div>


  </div>

</div>
