<div class="alert alert-warning alert-dismissible fade show" role="alert">
  <strong>Mensaje importante!</strong> Hay noticias nuevas sobre CorpusNet.
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<div class="margin_top_bottom">
  <img src="../../assets/img/logo.png" class="mx-auto d-block big-logo" width="40%" alt="Responsive image">
</div>

<div class="row">
  <div class="col-sm-6">
    <div class="card border_radius_blue">
      <div class="card-body">
        <h3 class="card-title text-center title-blue_grey">Información general y objetivos</h3>
        <p class="card-text text-justify">Lorem ipsum dolor sit amet consectetur, adipiscing elit hac lectus eleifend, porttitor malesuada class ultricies. Quisque ut varius cursus aliquet eu vivamus mattis, lectus blandit vestibulum facilisi litora dignissim diam tempor, sollicitudin per quis mus primis orci. Curae erat lacus torquent turpis sollicitudin venenatis hendrerit risus porta, magna ad taciti lacinia curabitur aliquam dictumst sagittis vitae, tristique sapien arcu euismod vestibulum vivamus nullam facilisis.
        <br><br>
        Phasellus tortor ut odio aenean neque elementum habitant curae rutrum primis, imperdiet torquent conubia semper lobortis porta quisque sagittis dictumst. Pellentesque eros convallis praesent accumsan natoque ligula sollicitudin morbi, sed suspendisse pulvinar nec auctor fames curabitur, pharetra ridiculus mi laoreet vulputate eleifend erat. Mi hac consequat montes porttitor nam sollicitudin, id donec purus torquent himenaeos odio mattis, dignissim proin curabitur netus aenean.</p>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card border_radius_blue">
        <div class="card-body">
          <h3 class="card-title text-center title-blue_grey">Formar parte</h3>
          <p class="card-text text-justify">Lorem ipsum dolor sit amet consectetur adipiscing elit cursus ligula non parturient, nunc vestibulum fermentum convallis tempus nibh pretium sociis faucibus. Tempor vestibulum vitae gravida senectus condimentum dui fringilla hendrerit, magnis cubilia porta molestie tempus massa dignissim metus, suspendisse mattis tortor sem volutpat ut dictum. Auctor fermentum nisl habitant porta cum velit rutrum penatibus, conubia nullam habitasse dictum vestibulum porttitor aliquet pharetra pulvinar, tortor diam pretium curabitur magnis duis erat. Cubilia habitant pharetra diam dignissim sodales sagittis bibendum, netus commodo himenaeos odio potenti dis ullamcorper, risus quis id litora hac nostra.</p>
        </div>
      </div>
    </div>
  </div>
