.margin_top_bottom{
  margin-top: 40px;
  margin-bottom: 60px;
}

.title-blue_grey{
  --color: #629cbd!important;
  color :#6d8a9c!important;
  --font-family: "Roboto", sans-serif;
}

.big-logo{
  width: 40%;
  max-width: 450px;
}

.margin-left_right_50{
  max-width: 1400px;
  margin-right: auto;
  margin-left: auto;
}

.border_radius_blue{
    border-radius: 15px;
    border: 1px solid rgba(97, 153, 185, 0.24);
}
