<div *ngIf="content" class="margin-left_right_50">

  <!--<div *ngIf="lastNotice" class="text-truncate alert alert-warning alert-dismissible fade show" role="alert">
    <strong>{{content.data.alert.bold_text}} &nbsp;</strong><a class="last_notice" [routerLink]="['/noticias']">{{lastNotice.text}}</a>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>-->

  <div class="margin_top_bottom">
    <img src="../../assets/img/logo.png" class="mx-auto d-block big-logo" width="40%" alt="Responsive image">
  </div>

  <div class="row">
    <div *ngFor="let panel of content.data.panels" class="col-md-6">
      <div class="card border_radius_blue">
        <div class="card-body">
          <!--<h3 class="card-title text-center title-blue_grey">{{panel.title}}</h3>-->
          <span *ngFor="let paragraph of panel.text;" [innerHTML]="paragraph" class="card-text text-justify"></span>
          <ol>
            <li *ngFor="let point of panel.points;">{{point}}</li>
          </ol>
        </div>
      </div>
    </div>
  </div>

</div>
