.margin_top_bottom{
  margin-top: 40px;
  margin-bottom: 60px;
}

.title-blue_grey{
  --color :#6d8a9c!important;
  font-weight: 400;
  color: #6a8bc7;
}

.big-logo{
  width: 40%;
  max-width: 450px;
  min-width: 280px;
}

.margin-left_right_50{
  max-width: 1400px;
  margin-right: auto;
  margin-left: auto;
}

.last_notice{
  color: inherit;
}

.border_radius_blue{
    border-radius: 15px;
    border: 1px solid rgba(97, 153, 185, 0.24);
    margin-bottom: 20px;
}
