<div *ngIf="!content" class="margin-left_right_50">

  <!--<h1 class="text-center general-title">Corpus paralelos</h1>-->

  <br>

  <div class="card">

    <div class="card-body">

      <div class="row">

        <div class="col-12 col-md-2 float-left d-none d-sm-none d-md-block">
          <img src="/assets/img/app1.png" class="img-app" alt="">
        </div>

        <div class="col-12 col-md-10">
          <h4 class="card-title">Aplicación 1</h4>
          <p class="card-text text-justify">Lorem ipsum dolor sit amet consectetur adipiscing elit orci nec curae feugiat, parturient fames conubia egestas mus sapien convallis dignissim netus nunc. Luctus erat est convallis platea vivamus vehicula id, risus imperdiet consequat ridiculus massa varius augue, fames velit cubilia habitasse eu tortor.</p>
        </div>

      </div>

    </div>

    <div class="card-footer">
      <!--<span class="footer-text">Universidad de León</span>-->
      <a class="btn btn-primary float-right margin_left-15" href="#">Acceder</a>
      <a class="btn btn-outline-primary float-right" href="#">Ficha técnica</a>
    </div>

  </div>

  <div class="card">

    <div class="card-body">

      <div class="row">

        <div class="col-12 col-md-2 float-left d-none d-sm-none d-md-block">
          <img src="/assets/img/app1.png" class="img-app" alt="">
        </div>

        <div class="col-12 col-md-10">
          <h4 class="card-title">Aplicación 1</h4>
          <p class="card-text text-justify">Lorem ipsum dolor sit amet consectetur adipiscing elit orci nec curae feugiat, parturient fames conubia egestas mus sapien convallis dignissim netus nunc. Luctus erat est convallis platea vivamus vehicula id, risus imperdiet consequat ridiculus massa varius augue, fames velit cubilia habitasse eu tortor.</p>
        </div>

      </div>

    </div>

    <div class="card-footer">
      <!--<span class="footer-text">Universidad de León</span>-->
      <a class="btn btn-primary float-right margin_left-15" href="#">Acceder</a>
      <a class="btn btn-outline-primary float-right" href="#">Ficha técnica</a>
    </div>

  </div>

</div>
