<div *ngIf="content" class="margin-left_right_50">

  <!--<h1 class="text-center general-title">Corpus paralelos</h1>-->

  <div *ngIf="session" class="center_menu">
    <button type="button" class="btn btn-outline-primary btn-sms add">Nuevo <i class="fas fa-plus"></i></button>
  </div>

  <br>

  <div *ngFor="let application of content.data.applications" class="card">

    <div class="card-body">

      <div class="row d-flex justify-content-center">

        <div class="col-md-auto d-none d-sm-none d-md-block">
          <img src="assets/img/app4.png" class="img-app" alt="">
        </div>

        <div class="col-md-9">
          <h4 class="card-title">{{application.name}}</h4>
          <h5 class="card-subtitle mb-2 text-grey">{{application.author}} <span class="acronym">- {{application.acronym}}</span></h5>
          <p class="card-text text-justify" [innerHTML]="application.description"></p>
        </div>

      </div>

    </div>

    <div class="card-footer">

      <div *ngIf="session" class="float-left mt-1">
        <button type="button" class="transparent btn btn-outline-primary btn-sm mr-2"><i class="far fa-edit"></i></button>
        <button type="button" class="transparent btn btn-outline-danger btn-sm"><i class="far fa-trash-alt"></i></button>
      </div>

      <a class="btn btn-primary float-right margin_left-15" href={{application.buttons[0].link}}>{{application.buttons[0].name}}</a>
      <a class="btn btn-outline-primary float-right" href={{application.buttons[1].link}}>{{application.buttons[1].name}}</a>
    </div>

  </div>



</div>
