<div *ngIf="content" class="margin-left_right_50">

  <!--<h1 class="text-center general-title">{{content.data.title}}</h1>-->

  <div *ngIf="session.identity" class="center_menu">
    <button (click)="newContent = {'index': 0}" type="button" data-toggle="modal" data-target="#modifyContent" class="btn btn-outline-primary btn-sm add">{{content.data.edit_menu.new_btn}} <i class="fas fa-plus"></i></button>
  </div>

  <br>

  <ul class="nav nav-tabs" id="myTab" role="tablist">
    <li *ngFor="let item of content.data.nav" class="nav-item">
      <a class="nav-link nav-element" [class.active]="item == content.data.nav[0]" data-toggle="tab" href="#{{item.name}}" role="tab" aria-controls="home" aria-selected="false">{{item.title}}</a>
    </li>
  </ul>


  <div class="tab-content" id="myTabContent">

    <div *ngFor="let type of content.data.nav" class="tab-pane fade {{type === content.data.nav[0] ? 'show active' : ''}}" id="{{type.name}}" role="tabpanel">

      <div *ngFor="let tool of content.data.tools[type.name]; let index = index" class="card">

        <div class="card-body">

          <div class="row">

            <div class="col-12 col-md-2 float-left d-none d-sm-none d-md-block">
              <img src="assets/img/tool1.png" class="img-tool" alt="">
            </div>

            <div class="col-12 col-md-10">
              <h4 class="card-title">{{tool.name}}</h4>
              <h5 class="card-subtitle mb-2 text-grey">{{tool.author}} <span class="acronym">- {{tool.acronym}}</span></h5>
              <p class="card-text text-justify" [innerHTML]="tool.description"></p>
            </div>

          </div>

        </div>

        <div class="card-footer">

          <div *ngIf="session.identity && (tool.author == session.identity.team || session.identity.role == 'ROLE_ADMIN')" class="float-left mt-1">
            <button type="button" (click)="newContent = deepCopy(tool, index, type.name)" data-toggle="modal" data-target="#modifyContent" class="transparent btn btn-outline-primary btn-sm mr-2"><i class="far fa-edit"></i></button>
            <button type="button" (click)="deleteContent(index, type.name)" class="transparent btn btn-outline-danger btn-sm"><i class="far fa-trash-alt"></i></button>
          </div>

          <a class="btn btn-primary float-right margin_left-15" href={{tool.link}}>{{content.data.buttons[0]}}</a>
          <a class="btn btn-outline-primary float-right" href="#">{{content.data.buttons[1]}}</a>
        </div>

      </div>

    </div>

  </div>

  <!-- Modal edit content-->
  <div *ngIf="session.identity" class="modal fade" id="modifyContent" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">

        <form ngNativeValidate #loginForm="ngForm" (ngSubmit)="saveContent()">

          <div class="modal-header">
            <h5 *ngIf="!newContent._id" class="modal-title">{{content.data.edit_menu.new_title}}</h5>
            <h5 *ngIf="newContent._id" class="modal-title">{{content.data.edit_menu.edit_title}}</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">

            <div *ngIf="error" class="alert alert-danger text-center" role="alert">
              {{content.data.edit_menu.error_text}}
            </div>

            <div *ngIf="!newContent.editing" class="form-group">
              <label>{{content.data.edit_menu.type_title}}</label>
              <select #type="ngModel" name="type" [(ngModel)]="newContent.type" class="form-control" required>
                <option *ngFor="let type of content.data.nav" [value]="type.name">{{type.title}}</option>
              </select>
            </div>

            <div class="form-group">
              <label>{{content.data.edit_menu.name_title}}</label>
              <input #name="ngModel" name="name" [(ngModel)]="newContent.name" type="text" class="form-control" placeholder="Example: C-GEFEM" required/>
            </div>

            <div class="form-group">
              <label>{{content.data.edit_menu.description_title}}</label>
              <textarea rows="3" #description="ngModel" name="description" [(ngModel)]="newContent.description" type="text" class="form-control" required></textarea>
            </div>

            <div class="form-group">
              <label>{{content.data.edit_menu.email_title}}</label>
              <input #email="ngModel" name="email" [(ngModel)]="newContent.link" type="text" class="form-control" placeholder="www.exaple.com" required/>
            </div>

          </div>

          <div class="modal-footer">
            <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">{{content.data.edit_menu.cancel_btn}}</button>
            <input type="submit" class="btn btn-primary" value="{{content.data.edit_menu.save_btn}}"/>
          </div>

        </form>

      </div>
    </div>
  </div>

</div>
