<div *ngIf="content" class="margin-left_right_50">

  <!--<h1 class="text-center general-title">{{content.data.title}}</h1>-->

  <div *ngIf="session" class="center_menu">
    <button type="button" class="btn btn-outline-primary btn-sms add">Nuevo <i class="fas fa-plus"></i></button>
  </div>

  <br>

  <ul class="nav nav-tabs" id="myTab" role="tablist">
    <li *ngFor="let item of content.data.nav" class="nav-item">
      <a class="nav-link nav-element" [class.active]="item == content.data.nav[0]" data-toggle="tab" href="#{{item}}" role="tab" aria-controls="home" aria-selected="false">{{item}}</a>
    </li>
  </ul>


  <div class="tab-content" id="myTabContent">

    <div class="tab-pane fade active show" id="{{content.data.nav[0]}}" role="tabpanel">

      <div *ngFor="let tool of content.data.tools.tagger" class="card">

        <div class="card-body">

          <div class="row">

            <div class="col-12 col-md-2 float-left d-none d-sm-none d-md-block">
              <img src="assets/img/tool1.png" class="img-tool" alt="">
            </div>

            <div class="col-12 col-md-10">
              <h4 class="card-title">{{tool.name}}</h4>
              <h5 class="card-subtitle mb-2 text-grey">{{tool.author}} <span class="acronym">- {{tool.acronym}}</span></h5>
              <p class="card-text text-justify" [innerHTML]="tool.description"></p>
            </div>

          </div>

        </div>

        <div class="card-footer">

          <div *ngIf="session" class="float-left mt-1">
            <button type="button" class="transparent btn btn-outline-primary btn-sm mr-2"><i class="far fa-edit"></i></button>
            <button type="button" class="transparent btn btn-outline-danger btn-sm"><i class="far fa-trash-alt"></i></button>
          </div>

          <a class="btn btn-primary float-right margin_left-15" href={{tool.buttons[0].link}}>{{tool.buttons[0].name}}</a>
          <a class="btn btn-outline-primary float-right" href={{tool.buttons[1].link}}>{{tool.buttons[1].name}}</a>
        </div>

      </div>

    </div>

    <div class="tab-pane fade" id="{{content.data.nav[1]}}" role="tabpanel">

      <div *ngFor="let tool of content.data.tools.browser" class="card">

        <div class="card-body">

          <div class="row">

            <div class="col-12 col-md-2 float-left d-none d-sm-none d-md-block">
              <img src="assets/img/tool1.png" class="img-tool" alt="">
            </div>

            <div class="col-12 col-md-10">
              <h4 class="card-title">{{tool.name}}</h4>
              <h5 class="card-subtitle mb-2 text-grey">{{tool.author}} <span class="acronym">- {{tool.acronym}}</span></h5>
              <p class="card-text text-justify" [innerHTML]="tool.description"></p>
            </div>

          </div>

        </div>

        <div class="card-footer">

          <div *ngIf="!session" class="float-left mt-1">
            <button type="button" class="transparent btn btn-outline-primary btn-sm mr-2"><i class="far fa-edit"></i></button>
            <button type="button" class="transparent btn btn-outline-danger btn-sm"><i class="far fa-trash-alt"></i></button>
          </div>

          <a class="btn btn-primary float-right margin_left-15" href={{tool.buttons[0].link}}>{{tool.buttons[0].name}}</a>
          <a class="btn btn-outline-primary float-right" href={{tool.buttons[1].link}}>{{tool.buttons[1].name}}</a>
        </div>

      </div>

    </div>

    <div class="tab-pane fade" id="{{content.data.nav[2]}}" role="tabpanel">

      <div *ngFor="let tool of content.data.tools.aligner" class="card">

        <div class="card-body">

          <div class="row">

            <div class="col-12 col-md-2 float-left d-none d-sm-none d-md-block">
              <img src="assets/img/tool1.png" class="img-tool" alt="">
            </div>

            <div class="col-12 col-md-10">
              <h4 class="card-title">{{tool.name}}</h4>
              <h5 class="card-subtitle mb-2 text-grey">{{tool.author}} <span class="acronym">- {{tool.acronym}}</span></h5>
              <p class="card-text text-justify" [innerHTML]="tool.description"></p>
            </div>

          </div>

        </div>

        <div class="card-footer">

          <div *ngIf="session" class="float-left mt-1">
            <button type="button" class="transparent btn btn-outline-primary btn-sm mr-2"><i class="far fa-edit"></i></button>
            <button type="button" class="transparent btn btn-outline-danger btn-sm"><i class="far fa-trash-alt"></i></button>
          </div>

          <a class="btn btn-primary float-right margin_left-15" href={{tool.buttons[0].link}}>{{tool.buttons[0].name}}</a>
          <a class="btn btn-outline-primary float-right" href={{tool.buttons[1].link}}>{{tool.buttons[1].name}}</a>
        </div>

      </div>

    </div>

  </div>

</div>
