<div *ngIf="!content" class="margin-left_right_50">

  <!--<h1 class="text-center general-title">Corpus paralelos</h1>-->

  <br>

  <ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item">
      <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Etiquetadores</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Visores</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact" aria-selected="false">Alineadores</a>
    </li>
  </ul>


  <div class="tab-content" id="myTabContent">

    <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">

      <div class="card">

        <div class="card-body">

          <div class="row">

            <div class="col-12 col-md-2 float-left d-none d-sm-none d-md-block">
              <img src="/assets/img/tool1.png" class="img-tool" alt="">
            </div>

            <div class="col-12 col-md-10">
              <h4 class="card-title">Etiquetador semántico</h4>
              <p class="card-text text-justify">Lorem ipsum dolor sit amet consectetur adipiscing elit orci nec curae feugiat, parturient fames conubia egestas mus sapien convallis dignissim netus nunc. Luctus erat est convallis platea vivamus vehicula id, risus imperdiet consequat ridiculus massa varius augue, fames velit cubilia habitasse eu tortor.</p>
            </div>

          </div>

        </div>

        <div class="card-footer">
          <!--<span class="footer-text">Universidad de León</span>-->
          <a class="btn btn-primary float-right margin_left-15" href="#">Acceder</a>
          <a class="btn btn-outline-primary float-right" href="#">Ficha técnica</a>
        </div>

      </div>

      <div class="card">

        <div class="card-body">

          <div class="row">

            <div class="col-12 col-md-2 float-left d-none d-sm-none d-md-block">
              <img src="/assets/img/tool1.png" class="img-tool" alt="">
            </div>

            <div class="col-12 col-md-10">
              <h4 class="card-title">Etiquetador semántico</h4>
              <p class="card-text text-justify">Lorem ipsum dolor sit amet consectetur adipiscing elit orci nec curae feugiat, parturient fames conubia egestas mus sapien convallis dignissim netus nunc. Luctus erat est convallis platea vivamus vehicula id, risus imperdiet consequat ridiculus massa varius augue, fames velit cubilia habitasse eu tortor.</p>
            </div>

          </div>

        </div>

        <div class="card-footer">
          <!--<span class="footer-text">Universidad de León</span>-->
          <a class="btn btn-primary float-right margin_left-15" href="#">Acceder</a>
          <a class="btn btn-outline-primary float-right" href="#">Ficha técnica</a>
        </div>

      </div>

    </div>

    <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">Adios</div>
    <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">Luego</div>
