<div class="modal fade" id="ficha-tecnica" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">

      <form (ngSubmit)="saveDatasheet()">

      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalCenterTitle">{{element.name}}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div *ngIf="content && datasheet" class="modal-body">

        <table class="table table-bordered table-hover">
          <tbody *ngIf="session.identity else no_editing">

            <tr *ngFor="let row of content.data; let i = index">
              <th class="card-title" scope="row">{{row}}</th>
              <td><textarea rows="1" name="content[{{i}}]" [(ngModel)]="datasheet.data[i]" type="text" class="form-control"></textarea></td>
            </tr>

          </tbody>
        </table>
      </div>

      <div *ngIf="session.identity && error == 1" class="alert alert-danger text-center" role="alert">
        There was an error saving the datasheet
      </div>

      <div *ngIf="session.identity && error == 0" class="alert alert-success text-center" role="alert">
        The datasheet was updated correctly
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <input *ngIf="session.identity && content && datasheet" type="submit" class="btn btn-primary btn_80" value="Save"/>
      </div>

      </form>

    </div>
  </div>
</div>

<ng-template #no_editing>

  <tr *ngFor="let row of content.data; let i = index">
    <th class="card-title" scope="row">{{row}}</th>
    <td *ngIf="datasheet && datasheet.data && datasheet.data[i]" class="text-justify">{{datasheet.data[i]}}</td>
    <td *ngIf="!datasheet || !datasheet.data || !datasheet.data[i]" class="text-center"> — </td>
  </tr>

</ng-template>
