<div *ngIf="!content" class="margin-left_right_50">

  <!--<h1 class="text-center general-title">Corpus paralelos</h1>-->

  <br>

  <div class="row">

    <div class="col-8">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title text-center">Noticias</h5>
          <h6 class="card-subtitle mb-2 text-muted">Card subtitle hjwgcfd,khflo uwfghrw  luwfhwñoe frwf. yjhrtjhtyjnt wkhgfr,kegfie,gvfke</h6>
          <h6 class="card-subtitle mb-2 text-muted">Card subtitle hjwgcfd,khflo uwfghrw  luwfhwñoe frwf. yjhrtjhtyjnt wkhgfr,kegfie,gvfke</h6>
          <h6 class="card-subtitle mb-2 text-muted">Card subtitle hjwgcfd,khflo uwfghrw  luwfhwñoe frwf. yjhrtjhtyjnt wkhgfr,kegfie,gvfke</h6>
          <h6 class="card-subtitle mb-2 text-muted">Card subtitle hjwgcfd,khflo uwfghrw  luwfhwñoe frwf. yjhrtjhtyjnt wkhgfr,kegfie,gvfke</h6>
          <h6 class="card-subtitle mb-2 text-muted">Card subtitle hjwgcfd,khflo uwfghrw  luwfhwñoe frwf. yjhrtjhtyjnt wkhgfr,kegfie,gvfke</h6>
        </div>
      </div>
    </div>

    <div class="col-4 twitter">

      <ngx-twitter-timeline
      [data]="{sourceType: 'url', url: 'https://twitter.com/Actres_ule'}"
      [opts]="{tweetLimit: 5}"
      ></ngx-twitter-timeline>


    </div>

  </div>



</div>
