/* Button bootstrap */
.btn-primary{
  background-color: #34759cbf;
  border-color: #34759cbf;
}

.btn-primary:hover, .btn-primary:active:hover{
  background-color: #34759c;
}

.btn-outline-primary{
  color: #4584ab;
  border-color: #4584ab;
}

.btn-outline-primary:hover, .btn-outline-primary:active:hover{
  background-color: #34759cbf;
  border-color: #34759cbf;
  color: white;
}


.page-item.active .page-link{
  background-color: #2272a270;
  color: white;
  font-weight: 500;
}

.page-item .page-link{
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  border: 1px solid rgba(0, 0, 0, 0.07);
  border-bottom: 0;
  color: #5395c5;
  font-weight: 500;
}

.page-item.disabled .page-link {
    color: #6c757dc7;
}

.transparent{
  border-color: rgba(0, 0, 0, 0);
  font-size: 1rem;
}

/* Button bootstrap */

.margin-left_right_50{
  max-width: 1400px;
  margin-right: auto;
  margin-left: auto;
}

.row{
  margin-right: 0;
}

.general-title{
  font-weight: 400;
  margin-bottom: 20px;
  font-size: 2.1rem;
  color: #343a40;
}

.add{
  margin-left: 5px;
  margin-top: -3px;
}

.news{
  margin-bottom: 35px;
  height: 100%;
  margin-top: -6.5px;
}

.news h6{
  font-size: 23px;
  font-weight: 400;
}

.border-new{
  border-bottom: 1px solid rgba(15,70,100,.12);
}

strong {
    color: #6a8bc7;
    font-weight: bolder;
}

.inline{
  display: inline-flex;
}

.inline.link{
  max-width: 70%;
}

.datetime{
  text-align: right;
  font-weight: 500;
  margin-right: 2px;
  color: #6c757d7a;
}

.small {
    font-size: 85%;
    font-weight: 400;
}

.pagination{
  margin-top: -38px;
}

.twitter{
  border: 1px solid rgba(0, 0, 0, 0.07);
  border-radius: .25rem;
}
