<div *ngIf="content" class="margin-left_right_50">

  <!--<h1 class="text-center general-title">Corpus paralelos</h1>-->

  <br>

  <div class="row">

    <div class="col-8">
      <div class="p-3 box-shadow news text-justify">
        <h6 class="border-new border-gray pb-2 mb-0">{{content.data.title}}</h6>

        <nav aria-label="Page navigation example">
          <ul class="pagination justify-content-end">
            <li class="page-item" [class.disabled]="page == 0">
              <a class="page-link" (click)="page = page - 1">Previous</a>
            </li>
            <li class="page-item" [class.d-none]="page == 0">
              <a class="page-link" (click)="page = page - 1">{{page}}</a>
            </li>
            <li class="page-item active">
              <a class="page-link" >{{page + 1}}</a>
            </li>
            <li class="page-item" [class.d-none]="page > (content.data.news.length / 2) - 1">
              <a class="page-link" (click)="page = page + 1">{{page + 2}}</a>
            </li>
            <li class="page-item" [class.disabled]="page > (content.data.news.length / 2) - 1">
              <a class="page-link" (click)="page = page + 1">Next</a>
            </li>
          </ul>
        </nav>

        <div *ngFor="let new of content.data.news | slice : page * 2 : (page + 1) * 2" class="media text-muted pt-3 ">
          <p class="media-body pb-3 mb-0 small lh-125 border-new">
            <strong class="d-block text-gray-dark">{{new.team}}</strong>
            {{new.text}}
            <u><a class="d-block text-muted font-italic" href="{{new.link}}">{{new.link}}</a></u>
          </p>
        </div>

      </div>

    </div>

    <div class="col-4 twitter">

      <ngx-twitter-timeline
      [data]="{sourceType: 'url', url: 'https://twitter.com/Actres_ule'}"
      [opts]="{tweetLimit: 5}"
      ></ngx-twitter-timeline>


    </div>

  </div>





</div>
