<div *ngIf="content" class="margin-left_right_50">

  <!--<h1 class="text-center general-title">Corpus paralelos</h1>-->

  <br>

  <div class="row">

    <div class="col-12 col-md-8">
      <div class="p-3 box-shadow news text-justify">
        <h6 class="border-new border-gray pb-2 mb-0">{{content.data.title}}

          <button *ngIf="session.identity" (click)="newNotice = {}" type="button" data-toggle="modal" data-target="#modifyContent" class="transparent btn btn-outline-primary btn-sm add">{{content.data.edit_menu.new_btn}} <i class="fas fa-plus"></i></button>

        </h6>

        <nav aria-label="" *ngIf="notices && notices.length">
          <ul class="pagination justify-content-end">
            <li class="page-item" [class.disabled]="page == 0">
              <a class="page-link" (click)="page = page - 1">{{content.data.pagination.btn_previous}}</a>
            </li>
            <li class="page-item" [class.d-none]="page == 0">
              <a class="page-link" (click)="page = page - 1">{{page}}</a>
            </li>
            <li class="page-item active">
              <a class="page-link" >{{page + 1}}</a>
            </li>
            <li class="page-item" [class.d-none]="page > (notices.length / 10) - 1">
              <a class="page-link" (click)="page = page + 1">{{page + 2}}</a>
            </li>
            <li class="page-item" [class.disabled]="page > (notices.length / 10) - 1">
              <a class="page-link" (click)="page = page + 1">{{content.data.pagination.btn_next}}</a>
            </li>
          </ul>
        </nav>

        <div *ngFor="let notice of notices | slice : page * 10 : (page + 1) * 10; let index = index" class="text-muted pt-3 border-new pb-3">
          <strong class="text-gray-dark mb-0 lh-125">{{notice.team}}</strong>
          <p class="mb-0">{{notice.text}}</p>

          <div class="inline link">
            <u class="text-truncate"><a class="text-muted text-truncate font-italic" href="{{notice.link}}">{{notice.link}}</a></u>
          </div>

          <div class="inline float-right">
            <span class="datetime">{{notice.created | date:'dd-MM-yyyy'}}</span>
          </div>

          <div *ngIf="session.identity && (notice.team == session.identity.team || session.identity.role == 'ROLE_ADMIN')" class="text-right mt-2">
            <button type="button" (click)="newNotice = deepCopy(notice, index)" data-toggle="modal" data-target="#modifyContent" class="transparent btn btn-outline-primary btn-sm mr-2"><i class="far fa-edit"></i></button>
            <button type="button" (click)="deleteNotice(notice._id, index)" class="transparent btn btn-outline-danger btn-sm mr-1"><i class="far fa-trash-alt"></i></button>
          </div>

        </div>

      </div>

    </div>

    <div class="col-12 col-md-4 twitter">

      <ngx-twitter-timeline
      [data]="{sourceType: 'url', url: 'https://twitter.com/Actres_ule'}"
      [opts]="{tweetLimit: 5}"
      ></ngx-twitter-timeline>


    </div>

  </div>

<!-- Modal edit content-->
  <div *ngIf="session.identity" class="modal fade" id="modifyContent" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">

        <form ngNativeValidate #modifyContentForm="ngForm" (ngSubmit)="saveNotice()">

          <div class="modal-header">
            <h5 *ngIf="!newNotice._id" class="modal-title">{{content.data.edit_menu.new_title}}</h5>
            <h5 *ngIf="newNotice._id" class="modal-title">{{content.data.edit_menu.edit_title}}</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">

            <div *ngIf="error" class="alert alert-danger text-center" role="alert">
              {{content.data.edit_menu.error_text}}
            </div>

            <div class="form-group">
              <label>{{content.data.edit_menu.text_title}}</label>
              <textarea rows="3" #text="ngModel" name="text" [(ngModel)]="newNotice.text" type="text" class="form-control" required></textarea>
            </div>

            <div class="form-group">
              <label>{{content.data.edit_menu.link_title}}</label>
              <input #link="ngModel" name="link" [(ngModel)]="newNotice.link" type="text" class="form-control" placeholder="www.exaple.com"/>
            </div>

          </div>

          <div class="modal-footer">
            <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">{{content.data.edit_menu.cancel_btn}}</button>
            <input type="submit" class="btn btn-primary" value="{{content.data.edit_menu.save_btn}}"/>
          </div>

        </form>

      </div>
    </div>
  </div>


</div>
