/* Button bootstrap */
.btn-primary{
  background-color: #34759cbf;
  border-color: #34759cbf;
}

.btn-primary:hover, .btn-primary:active:hover{
  background-color: #34759c;
}

.btn-outline-primary{
  color: #4584ab;
  border-color: #4584ab;
}

.btn-outline-primary:hover, .btn-outline-primary:active:hover{
  background-color: #34759cbf;
  color: white;
}
/* Button bootstrap */

.margin-left_right_50{
  max-width: 1400px;
  margin-right: auto;
  margin-left: auto;
}

.row{
  margin-right: 0;
}

.general-title{
  font-weight: 400;
  margin-bottom: 20px;
  font-size: 2.1rem;
  color: #343a40;
}

.news{
  margin-bottom: 35px;
  height: 100%;
  margin-top: -6.5px;
}

.news h6{
  font-size: 23px;
  font-weight: 300;
}

.border-new{
  border-bottom: 1px solid rgba(15,70,100,.12);
}

strong {
    color: #6a8bc7;
    font-weight: bolder;
}

.small {
    font-size: 85%;
    font-weight: 400;
}
.pagination{
  bottom: 0;
  position: absolute;
  right: 30px;
  margin-bottom: 0rem;
}

.page-item:not(.disabled) > .page-link{
  color: #3e89bf;
}

.twitter{
  border: 1px solid rgba(0, 0, 0, 0.07);
  border-radius: .25rem;
}
