.margin-left_right_50{
  max-width: 1400px;
  margin-right: auto;
  margin-left: auto;
}

.general-title{
  font-weight: 400;
  margin-bottom: 20px;
  font-size: 2.1rem;
  color: #343a40;
}

.card{
  background-color: rgba(0,0,0,.01);
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
}

.card-title{
  --color: #5b8fec;
  color: #6a8bc7;
}

h4.card-title{
  margin-bottom: 20px;
  font-weight: 400;
}

span.card-title{
  margin-left: 10px;
  margin-bottom: 5px;
  font-size: 1.75rem;
}

.margin_left-15{
  margin-left: 15px;
}
