/* Button bootstrap */
.btn-primary{
  background-color: #34759cbf;
  border-color: #34759cbf;
}

.btn-primary:hover, .btn-primary:active:hover{
  background-color: #34759c;
}

.btn-outline-primary{
  color: #4584ab;
  border-color: #4584ab;
}

.btn-outline-primary:hover, .btn-outline-primary:active:hover{
  background-color: #34759cbf;
  color: white;
}

.transparent{
  border-color: rgba(0, 0, 0, 0);
  font-size: 1rem;
}
/* Button bootstrap */

.margin-left_right_50{
  max-width: 1400px;
  margin-right: auto;
  margin-left: auto;
}

.general-title{
  font-weight: 400;
  margin-bottom: 20px;
  font-size: 2.1rem;
  color: #343a40;
}

.add{
  margin-top: 10px;
  margin-bottom: -10px;
  width: 200px;
}

.center_menu{
  max-width: 200px;
  margin-left: auto;
  margin-right: auto;
}

.card-text{
  height: 250px;
  overflow: auto;
}

.margin_left-15{
  margin-left: 15px;
}

.card-grey{
  background-color: rgba(0,0,0,.01);
  margin-top: 2rem;
}

.card_header-blue_grey{
  background-color: rgba(191, 212, 225, 0.43);
}
