/* Button bootstrap */
.btn-primary{
  background-color: #34759cbf;
  border-color: #34759cbf;
}

.btn-primary:hover, .btn-primary:active:hover{
  background-color: #34759c;
}

.btn-outline-primary{
  color: #4584ab;
  border-color: #4584ab;
}

.btn-outline-primary:hover, .btn-outline-primary:active:hover{
  background-color: #34759cbf;
  color: white;
}

.transparent{
  border-color: rgba(0, 0, 0, 0);
  font-size: 1rem;
}
/* Button bootstrap */

.margin-left_right_50{
  max-width: 1400px;
  margin-right: auto;
  margin-left: auto;
}

.add{
  background-color: white;
  width: 200px;
}

.general-title{
  font-weight: 400;
  margin-bottom: 20px;
  font-size: 2.1rem;
  color: #343a40;
}

.corpus{
  margin-bottom: 20px;
}

.card{
  background-color: rgba(0,0,0,.01);
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
}

.center_menu{
  max-width: 200px;
  margin-left: auto;
  margin-right: auto;
}

.edit_menu{
  margin-left: 30px;
  margin-bottom: -30px;
}

.card-title{
  --color: #5b8fec;
  color: #6a8bc7;
}

h4.card-title{
  margin-bottom: 20px;
  font-weight: 400;
}

p.card-title{
  font-size: 1.5rem;
  margin-left: 30px;
  --margin-bottom: 10px;
}

.acronym{
  font-size: 1rem;
  color: #949aa0c4;
}

.text-grey{
  color: #6c757db8;
  font-size: 1.15rem;
  margin-left: 30px;
}

.close{
  font-size: 1.8rem;
  line-height: 0.8;
}

.margin_left-15{
  margin-left: 15px;
}
