/* Button bootstrap */
.btn-primary{
  background-color: #34759cbf;
  border-color: #34759cbf;
}

.btn-primary:hover, .btn-primary:active:hover{
  background-color: #34759c;
}

.btn-outline-primary{
  color: #4584ab;
  border-color: #4584ab;
}

.btn-outline-primary:hover, .btn-outline-primary:active:hover{
  background-color: #34759cbf;
  color: white;
}
/* Button bootstrap */

.dropdown-menu-right{
  margin-right: 2px;
}

.alert-danger{
  padding: .4rem;
}
